@model gpPaymentServicesMvc.Models.PaypalModel

@{
    ViewBag.Title = "Pay online";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                A fuss-free option to pay your bill online right now.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

@using (Html.BeginForm("Paypal", "Home"))
{
    <fieldset>
        <p>@Html.LabelFor(m => m.InvoiceReference)</p>
        @Html.TextBoxFor(m => m.InvoiceReference)
        <p>Amount:</p>
        @Html.TextBox("amount")
        @Html.TextBoxFor(m => m.creditType)
        @Html.TextBoxFor(m => m.CreditCardNo)
        @Html.TextBoxFor(m => m.expireMonth)
        @Html.TextBoxFor(m => m.expireYear)
        @Html.TextBoxFor(m => m.CVV2)
        @Html.TextBoxFor(m => m.firstName)
        @Html.TextBoxFor(m => m.lastName)
        <input type="submit" value="Pay" />
    </fieldset>
}

@Html.DisplayFor(x => x.PaymentStatus)
@Html.DisplayFor(x => x.PaymentSuccessId)


