@model gpPaymentServicesMvc.Models.PaypalModel

@{
    ViewBag.Title = "Pay online";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                A fuss-free option to pay your bill online right now.
            </p>
        </div>
    </section>
}

@section MyOtherJavascript {
    <script>

        $(document).ready(function () {

            $("#InvoiceReference").focusin(function(event){
                $("#popUpClass").fadeIn();
            });

            $("#InvoiceReference").focusout(function (event) {
                $("#popUpClass").fadeOut();
            });

        });
    </script>
}

<h3>We accept the following payment methods:</h3>

<div id="popUpClass" class="message message-info" style="color: rgb(255, 255, 255); position: absolute; top: 388px; left: 520px; display:none; background-color: #7ac0da;">
    <div class="message-inner message-tip message-tip-left-top">
        <div class="message-text">
            <p>You'll find this at the top of your invoice</p>
        </div>
    </div>
</div>


<img src="~/Images/paymentmethods.gif" />
@using (Html.BeginForm("Index", "Home"))
{
    @*Use an <aside></aside> for form filling features*@
    
    <fieldset>
        
        @Html.LabelFor(m => m.InvoiceReference)
        @Html.TextBoxFor(m => m.InvoiceReference)

        @Html.LabelFor(m=> m.Amount)
        @Html.EditorFor(m =>m.Amount)

        @Html.LabelFor(m => m.creditType)
        @Html.DropDownListFor(m => m.creditType, new SelectList(Model.cardTypes, "Value", "Text", Model.creditType))

        @Html.LabelFor(m => m.CreditCardNo)
        @Html.TextBoxFor(m => m.CreditCardNo)

        @Html.LabelFor(m => m.expireMonth)
        @Html.DropDownListFor(m => m.expireMonth, new SelectList(Model.monthsOfYear, "Value", "Text", Model.expireMonth))

        @Html.LabelFor(m => m.expireYear)
        @Html.TextBoxFor(m => m.expireYear)

        @Html.LabelFor(m => m.CVV2)
        @Html.TextBoxFor(m => m.CVV2)

        @Html.LabelFor(m => m.firstName)
        @Html.TextBoxFor(m => m.firstName)

        @Html.LabelFor(m => m.lastName)
        @Html.TextBoxFor(m => m.lastName)

        @Html.ValidationSummary()

        <input type="submit" value="Pay" style="display:block" />
    </fieldset>
}

@Html.DisplayFor(x => x.PaymentStatus)
@Html.DisplayFor(x => x.PaymentSuccessId)


