@model gpPaymentServicesMvc.Models.PaypalModel

@{
    ViewBag.Title = "Paypal";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


  
    
    @using (Html.BeginForm("Paypal", "Home"))
{
    <fieldset>
        <p>@Html.LabelFor(m => m.InvoiceReference)</p>
        @Html.TextBoxFor(m => m.InvoiceReference)
        <p>Amount:</p>
        @Html.TextBox("amount")
        <input type="submit" value="Pay" />
    </fieldset>
}


<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>